@font-face {
  font-family: 'Better Comic Sans';
  font-style: normal;
  font-weight: 400;
  /* font-display: swap; */
  /* src: local('bettercomicsansalternates.ttf'), url('./bettercomicsansalternates.ttf'); */
  src: url('./bcspl.woff2');
}
