.buy-buttons {
  display: flex;
  justify-content: space-between; }
  .buy-buttons.contained-for-screen-center {
    width: 424px;
    padding-left: 2em;
    margin: auto;
    margin-top: -3em; }

button.kj-button {
  height: 55px;
  min-width: 174px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  transition: background-color .2s ease;
  border: none;
  outline: none;
  border-radius: 50px; }
  button.kj-button.btn-yellow {
    color: white;
    background-color: #FFC000; }
    button.kj-button.btn-yellow:hover {
      background-color: #00C8A1;
      cursor: pointer; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0 !important;
  overflow-x: hidden !important; }

.h-blue {
  color: #65C8B8; }

.h-yellow {
  color: #FFC000; }

.h-white {
  color: white; }

.h-bold {
  font-weight: bold; }

.dual-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

#overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200; }

.menu {
  position: sticky;
  right: 0;
  top: 0; }
  .menu * {
    font-family: "Poppins"; }
  .menu a {
    text-decoration: none !important; }
  .menu #menu-expanded {
    transition: right .15s ease-out;
    background-color: #65C8B8;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10000;
    width: 560px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start; }
    .menu #menu-expanded .menu-list-button {
      font-weight: bold;
      text-align: center;
      color: white;
      font-size: 30px;
      padding: 1em 2em; }
      .menu #menu-expanded .menu-list-button:hover {
        background-color: #FFC000;
        cursor: pointer; }
  .menu #menu-button {
    float: right;
    height: 40px;
    width: 40px;
    padding: 15px 40px;
    height: 40px;
    margin-right: 12px; }
    .menu #menu-button svg {
      max-height: 100%; }
      .menu #menu-button svg g.open {
        transition: opacity .15s; }
      .menu #menu-button svg g.close {
        opacity: 0;
        transition: opacity .15s; }
    .menu #menu-button:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: transform .5s ease; }

.quotes-around::before, .quotes-around::after {
  display: block;
  background-image: url("../img/ikona-cudzyslow.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px !important;
  width: 35px !important;
  content: " "; }
.quotes-around::after {
  width: 100% !important;
  height: 2em;
  background-position: right; }

main {
  max-width: 1680px !important; }
  main #kompetencje-tytul {
    padding: 5em 10em;
    max-width: 424px; }
    main #kompetencje-tytul .header-top h1 {
      font-family: "Poppins";
      font-weight: 800;
      font-size: 55px !important;
      text-transform: uppercase;
      display: inline; }
    main #kompetencje-tytul .header-top .book-icon {
      width: 135px;
      height: auto;
      margin-top: -5em;
      margin-bottom: -4em;
      margin-left: 2em; }
    main #kompetencje-tytul .header-bottom .subtitle-text {
      padding-top: 1.5em;
      padding-bottom: 2em;
      max-width: 14em;
      font-family: "Poppins";
      font-weight: 200;
      line-height: 36px;
      font-size: 30px; }

.section-title-centered-wrap .section-title {
  margin: auto; }

.section-title {
  font-size: 28px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section-title * {
    text-transform: uppercase;
    font-family: "Better Comic Sans";
    letter-spacing: -1; }
  .section-title .h {
    padding: 0 2em; }
  .section-title.bg-white {
    background-image: url("../img/chmurka-na-tekst-b.png"); }
  .section-title.bg-yellow {
    background-image: url("../img/chmurka-na-tekst-z.png"); }

.main-background-section {
  width: 100%;
  height: 800px;
  background-image: url("../img/tlo-glowne-postacie.png");
  background-size: 150%;
  background-position-x: 88%;
  background-repeat: no-repeat;
  padding: 0; }

.main-transition-section {
  background-color: #65C8B8;
  margin-top: -2em; }

#dlaczego-warto {
  width: 50%; }

#cytaty-1 {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #65C8B8; }
  #cytaty-1 .quote {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    width: 50%;
    max-width: 500px;
    min-height: 400px; }

#kompetencje {
  background: url(../img/tlo-tranzycja.png) no-repeat;
  background-size: 100%;
  background-color: white;
  background-position-y: -236px; }
  #kompetencje .transition-to-white {
    margin-top: -3em;
    width: 100%;
    display: flex;
    justify-content: center; }
    #kompetencje .transition-to-white #kompetencje-img {
      width: 600px;
      height: 500px;
      margin: 5em 0em 0em 5em; }
      #kompetencje .transition-to-white #kompetencje-img img {
        width: 628px;
        height: 480px;
        object-fit: scale-down; }
  #kompetencje #cytaty-2 {
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: transparent; }
    #kompetencje #cytaty-2 .quote {
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.05em;
      text-align: center;
      width: 50%; }
      #kompetencje #cytaty-2 .quote:first-child {
        max-width: 490px; }
      #kompetencje #cytaty-2 .quote:last-child {
        max-width: 373px; }

.cogs {
  height: 145px;
  width: 100%;
  background: url("../img/ikona-zebatki.png") no-repeat;
  background-position-x: right;
  margin-left: -11em; }
  .cogs.mobile {
    display: none; }

#o-autorze {
  margin-top: 1em;
  margin-bottom: -135px;
  min-height: 700px;
  width: 100%;
  background: url("../img/postac-autor.png") no-repeat;
  background-size: 15%;
  background-position-x: center;
  background-position-y: 100%; }
  #o-autorze .section-title-centered-wrap {
    margin-bottom: 4em; }
  #o-autorze .author-about {
    display: flex;
    justify-content: space-around;
    padding: 0 4em; }
    #o-autorze .author-about * {
      font-size: 14px;
      font-family: "Poppins"; }
    #o-autorze .author-about .about-infobox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../img/ramka-cienka-z-vector.svg");
      width: 530px;
      max-width: 530px;
      height: 440px;
      max-height: 440px; }
      #o-autorze .author-about .about-infobox .info-text {
        letter-spacing: 0.05em;
        line-height: 1.6em;
        padding: 3em 5em;
        font-weight: 300; }

#co-sadza-inni {
  background-image: url("../img/ramka-glowna-vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1865px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  #co-sadza-inni .opinions {
    width: 62%;
    max-width: 1080px;
    max-height: 1290px !important; }
    #co-sadza-inni .opinions .section-title-centered-wrap {
      padding-top: 4em;
      margin-top: 4em;
      margin-bottom: 4em; }

.opinion-opinionator-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em; }
  .opinion-opinionator-block * {
    font-family: "Poppins"; }
  .opinion-opinionator-block.opinion-inverse {
    margin-bottom: 1em; }
  .opinion-opinionator-block .what-says, .opinion-opinionator-block .who-says {
    width: 460px;
    max-width: 50%;
    max-height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .opinion-opinionator-block.opinion-inverse {
    flex-direction: row-reverse !important; }
    .opinion-opinionator-block.opinion-inverse .who-says {
      padding-left: unset !important;
      margin-right: 4em !important; }
  .opinion-opinionator-block .what-says {
    font-weight: 300;
    text-align: center;
    font-size: 16px; }
  .opinion-opinionator-block .who-says {
    padding-left: 15%;
    margin-right: -12%; }
    .opinion-opinionator-block .who-says h2 {
      margin: 0;
      font-size: 27px; }

footer {
  padding-top: 2em;
  padding-left: 8em;
  padding-right: 8em;
  background-color: #65C8B8;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  footer * {
    font-family: "Poppins"; }
  footer #prawa-autorskie {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1em; }
    footer #prawa-autorskie div:last-child {
      color: #363636 !important; }
  footer #ilustracje p {
    text-align: center !important; }
  footer #ilustracje .illustrator-signature {
    height: 78px;
    min-height: 78px;
    width: 276px;
    max-width: 276px; }
    footer #ilustracje .illustrator-signature img {
      margin-top: -2em;
      width: 100%;
      height: auto; }

@media only screen and (min-width: 320px) and (max-width: 460px) {
  .section-title-centered-wrap {
    width: 300px !important;
    margin: auto; }
    .section-title-centered-wrap .section-title {
      background-size: 100% !important;
      width: 100% !important;
      height: 75px !important;
      font-size: revert !important;
      font-weight: bold; }

  .buy-buttons {
    justify-content: space-around !important; }

  button.kj-button {
    height: 45px !important;
    min-width: unset;
    padding: 10px 15px;
    font-size: medium; }

  .cogs {
    height: 145px;
    width: 100%;
    background: url("../img/ikona-zebatki.png") no-repeat;
    background-position-x: right; }
    .cogs.mobile {
      padding: 1em 0;
      display: block !important;
      margin-left: -20px !important;
      background-size: 20%;
      height: 100px;
      background-position-y: center; }
    .cogs.desktop {
      display: none !important; }

  body > .menu > .menu-button {
    padding: 15px 15px; }

  .menu #menu-expanded {
    width: 100vw;
    margin: unset !important;
    background-color: #FFC000;
    padding-top: 70px; }
    .menu #menu-expanded .menu-list-button {
      font-size: 12pt;
      color: black; }
  .menu #menu-button {
    position: relative;
    z-index: 15000;
    margin-right: unset !important;
    padding-right: 20px; }

  .main-background-section {
    background: none !important;
    margin-top: unset;
    height: initial;
    margin-bottom: 0; }
    .main-background-section #kompetencje-tytul {
      width: unset;
      padding: unset;
      padding-top: 10px;
      margin-bottom: 3em; }
      .main-background-section #kompetencje-tytul .header-top {
        padding-left: 1em; }
        .main-background-section #kompetencje-tytul .header-top h1 {
          font-size: 37px !important; }
        .main-background-section #kompetencje-tytul .header-top img.book-icon {
          width: 110px; }
      .main-background-section #kompetencje-tytul .header-bottom > div.subtitle-text {
        padding-left: 1em;
        margin-top: 1em;
        font-size: 23px !important;
        line-height: 29px; }

  .main-transition-section {
    margin-top: 0;
    padding-top: 2em; }
    .main-transition-section #dlaczego-warto {
      width: unset; }
    .main-transition-section #cytaty-1.dual-column {
      width: inherit;
      display: block !important;
      padding-top: 2em;
      padding-bottom: 2em; }
      .main-transition-section #cytaty-1.dual-column .quote {
        width: 100%;
        max-width: 300px;
        font-size: 12pt;
        font-weight: 300;
        margin: auto; }

  #kompetencje {
    background-image: none !important;
    background-color: white; }
    #kompetencje .transition-to-white #kompetencje-img {
      width: 100vw;
      height: initial;
      margin: 0;
      overflow: hidden; }
      #kompetencje .transition-to-white #kompetencje-img img {
        max-width: calc(100vw + 37px);
        max-height: 100%;
        margin-left: -13px;
        height: 350px; }
    #kompetencje #cytaty-2.dual-column {
      width: inherit;
      display: block !important; }
      #kompetencje #cytaty-2.dual-column .quote {
        width: 300px;
        font-size: 12pt;
        margin: auto; }
    #kompetencje div.buy-buttons.contained-for-screen-center {
      width: 100vw;
      padding: 0;
      margin: 0; }

  #o-autorze {
    background-image: none !important;
    margin-bottom: unset !important; }
    #o-autorze .author-about {
      width: unset;
      padding: 10px !important;
      flex-direction: column; }
      #o-autorze .author-about::before {
        background: url("../img/postac-autor.png") no-repeat;
        content: " ";
        display: block;
        height: 200px;
        background-size: contain;
        background-position-x: center;
        margin-bottom: -12px; }
      #o-autorze .author-about .about-infobox {
        display: block;
        width: unset !important;
        height: unset !important;
        max-width: 530px;
        max-height: unset !important;
        border: 4px solid #FFC000;
        border-radius: 25px;
        background-image: none; }
        #o-autorze .author-about .about-infobox:first-child {
          margin-bottom: 1em; }
        #o-autorze .author-about .about-infobox:last-child {
          margin-top: 1em; }
        #o-autorze .author-about .about-infobox .info-text {
          z-index: 100;
          padding: 20px !important; }
          #o-autorze .author-about .about-infobox .info-text span.h-yellow.h-bold {
            font-size: large; }

  #co-sadza-inni {
    background-image: none !important;
    height: initial !important;
    display: block !important; }
    #co-sadza-inni .opinions {
      width: 100%; }
      #co-sadza-inni .opinions .section-title-centered-wrap {
        padding-top: 0em; }
      #co-sadza-inni .opinions .opinion-opinionator-block, #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse {
        margin-bottom: 0;
        padding: 20px;
        display: flex;
        flex-direction: column-reverse; }
        #co-sadza-inni .opinions .opinion-opinionator-block .what-says, #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse .what-says {
          margin: 0;
          padding: 10px;
          width: 100%;
          max-width: calc(100% - 20px);
          font-size: 10pt !important; }
          #co-sadza-inni .opinions .opinion-opinionator-block .what-says::before, #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse .what-says::before {
            display: none; }
          #co-sadza-inni .opinions .opinion-opinionator-block .what-says::after, #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse .what-says::after {
            display: none; }
        #co-sadza-inni .opinions .opinion-opinionator-block .who-says, #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse .who-says {
          margin: auto;
          padding: 0;
          width: 100%;
          max-width: 280px; }
          #co-sadza-inni .opinions .opinion-opinionator-block .who-says h2, #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse .who-says h2 {
            font-size: 14pt; }
        #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse > .who-says, #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse.opinion-inverse > .who-says {
          margin-right: unset !important;
          margin-left: 2em !important;
          margin: auto;
          padding: 0;
          width: 100%;
          max-width: 280px; }
          #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse > .who-says h2, #co-sadza-inni .opinions .opinion-opinionator-block.opinion-inverse.opinion-inverse > .who-says h2 {
            font-size: 14pt; }
    #co-sadza-inni .opinions > .opinion-opinionator-block.opinion-inverse {
      display: flex;
      flex-direction: column-reverse !important; }

  footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px; }
    footer #prawa-autorskie {
      font-size: 10px; }
      footer #prawa-autorskie div.copyrights {
        position: relative;
        top: calc(100% - 4em ); }
    footer #ilustracje p {
      font-size: 0.9em;
      margin-bottom: 2em; }
    footer #ilustracje .illustrator-signature {
      width: 150px;
      max-width: 150px;
      height: auto;
      min-height: auto; } }
@media only screen and (min-width: 1680px) {
  main {
    margin: auto !important; } }

/*# sourceMappingURL=main.css.map */
