/* ================ Media ================ */
@font-face {
    font-family: "tabsFont";
    src: url("OCR A Std.ttf");
}

@media only screen and (min-width: 1280px){
	.main-container {
		display: grid;
		grid-template-columns: 15vw 85vw;
		grid-template-rows: auto;
	}
}

@media only screen and (max-width: 1280px){
	.main-container {
		display: grid;
		grid-template-columns: 15vw 85vw;
		grid-template-rows: auto;
	}
	.nav-tabs-container {
		
	}
	.navigation {
		/*font-size: 10pt;*/
		background-color: red;
		overflow: hidden;
	}
}

@media only screen and (max-width: 720px){
	.main-container {
		display: block;
		/*grid-template-columns: 100vw;
		grid-template-rows: 4vh 6vh;*/
	}
	.navigation {
		background-color: dodgerblue;
		overflow: hidden;
		/*display: inline-flex;*/
	}
	.nav-tab {
		/*max-width: auto;*/
	}
}

/* ================ Rules ================ */

body {
	margin: 0;
}

/* ================ Main classes ================ */
/*.main-container {
	display: grid;
	/*grid-template-columns: 1fr 9fr;
	grid-template-columns: 10vw 90vw;
	grid-template-rows: auto;
	/*grid-template-rows: 100vh;
}*/

.wrapper-style {
	font-family: Cambria;
	/*font-family: Calibri;*/
	/*font-family: Arial, Helvetica, Times, monospace;*/

	margin: 0px;
	padding: 50px;
}
.bottom-container {
	margin-top: 0;
	width: 100%;
	height: 500px;          /* take care of that so it's auto */
}

/* ================ Color scheme ================ */

.bg-bright {
	background-color: #EBF7E3;
}
.bg-md-bright {
	background-color: #9BD770;
}
.bg-md {
	background-color: #66B032;
}
.bg-md-dark {
	background-color: #375F1B;
}
.bg-dark {
	background-color: #1B3409;
}

/* ================ Minor classes ================ */
.nav-tabs-container {
/*	display: flex;
	flex-direction: column;*/
}
.navigation {
	position: sticky;
	top: 0;

}
.nav-tab {
	font-family: "tabsFont", monospace;
	text-align: center;			/* align horizontal if wraps */
	display: flex;
	justify-content: center; 	/* align horizontal */
	align-items: center; 		/* align vertical */

/*	width: 200px;*/
	height: 100px;
	/*max-height: 100px;*/

	margin-top: 0;
	margin-bottom: 0;
	/*margin: 0 auto 0 auto;*/
	/*border: 1px solid black;*/
	/*border-radius: 5px;*/
}
.nav-tab:hover {
/*	text-decoration: underline;*/
	font-weight: bold;
	color: #EBF7E3;
	background-color: #66B032;
	border-right: 5px solid #375F1B;
}


/* ================ IDs ================ */
#test {
	max-width: 600px;
	text-align: justify;
}