/*
design by mdanlowski
	
cool red #9E1030;

$bd: #091534;
$bmd: #1E3471;
$bm: #213B82;
$bml: #17a2b8;
$bl: #7eacdc;
*/
@font-face {
    font-family: "tabsFont";
    src: url("OCR A Std.ttf");
}


#cv-section {
	/* background-color: #9E1030; */
	background-color: #091534;
	height: 100vh;
	width: 100%;
	
	padding: 30px;
	
	/*display: grid;*/
	grid-template-columns: 25% 25% 45%;
	grid-template-rows: 90%;
	grid-gap: 10px;
	
	align-content: center;
	justify-content: center;
}

#about-section {
	background-color: #091534;
	height: 100vh;
	width: 100%;
	
	color: #7eacdc;

	padding: 30px;
	
	/*display: grid;*/
	grid-template-columns: 44% 44%;
	grid-template-rows: 80%;
	grid-gap: 10px;
	
	align-content: center;
	justify-content: center;
}

.corner-nav.cn2 {
	bottom: calc(-100vh + 5px) !important;
}
.corner-nav.cn3 {
	bottom: calc(-200vh + 5px) !important;
}

.cv-subsection {
	border: 2px solid #17a2b8;
	color: #17a2b8;
}
.cv-subsection h1 {
	font-family: 'tabsFont';
	/*text-transform: uppercase;*/
}


.cv-panel {
	height: 100%;
	color: white;
	padding: 30px;
	
}
.left-scroll {
	height: 90%;
	direction: rtl;
	overflow-y: hidden;
	padding-left: 8px !important;
}
.left-scroll:hover {
	overflow-y: scroll;
	padding-left: 0px !important;
}
.cv-list {
	direction: ltr;
	height: 90%;
}

.cv-panel p {
	padding-top: 30px;
	text-align: center;	
}

.cv-panel ul {
	margin-left: 0;
}

#my-photo {
	max-width: 300px;
	/*border-radius: 50%;*/
}