/*
design by mdanlowski
	
cool red #9E1030;

$bd: #091534;
$bmd: #1E3471;
$bm: #213B82;
$bml: #17a2b8;
$bl: #7eacdc;
*/
@font-face {
    font-family: "tabsFont";
    src: url("OCR A Std.ttf");
}


#tech-section {
	/* background-color: #9E1030; */
	/* background-color: #091534; */
  background-color: rgba(9,21,52,1);

  height: 100vh;
	width: 100%;
  
	/*salign-content: center;
	justify-content: center; */
}

#tech-section > .justifier {
  margin: auto;
  width: 80%;
}

.justifier > .justifier-grid {
  display: grid;
  grid-template-columns: 71% 29%;
  grid-template-rows: 100%;
  grid-gap: 30px;
  
}

.emphasis-selectors {
  max-height: 30%;
  margin-top: calc(100% / 3);
  /* text-decoration: underline; */
}

.emselector {
  color: #17a2b8;
  font-size: 50pt;
  text-align: center;
  border-bottom: 4px solid darkred;

  transition: background-color 500ms;
}

.emselector:hover {
  background: darkred;
  cursor: crosshair;
}

.gh {
  background-color: #7eacdc;
  background-blend-mode: overlay;
  border-radius: 50%;
}



#about-section {
	background-color: #091534;
	height: 100vh;
	width: 100%;
	
	color: #7eacdc;

	padding: 30px;
	
	/*display: grid;*/
	grid-template-columns: 44% 44%;
	grid-template-rows: 80%;
	grid-gap: 10px;
	
	align-content: center;
	justify-content: center;
}

.corner-nav.cn2 {
	bottom: calc(-100vh + 5px) !important;
}
.corner-nav.cn3 {
	bottom: calc(-200vh + 5px) !important;
}

.tech-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, minmax(100px, 205px));
  grid-template-rows: repeat(3, 200px);
  /* grid-template-rows: 50%; */
}

.tech-grid > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}